<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		{{{body}}}

		<h4>User Views</h4>
    <ul>
      <li><a href="/user/login">Log-in Page</a></li>
      <li><a href="/user/logout">Logout Page</a></li>
      <li><a href="/user/online">Users Online</a></li>
      <li><a href="/user/main">Homepage</a></li>
      <li><a href="/user/user_profile">User Profile</a></li>
    </ul>

		<h4>Admin Views</h4>
		<ul>
			<li><a href="/admin/list">Administer Users</a></li>
		</ul>

	</body>
</html>

<!-- Comments
Use this page for displaying the main view, should likely have links to the other views which need to be created as part of TPA03
Specific User Views: 
*login view -> Text Boxes for credentials, logo for beautification
*homepage view -> Logo and additional beautification (perhaps some text about the project)
*admin view -> view that allows for addition/subtraction of users to the app
*user_profile view -> displays relevant user data, fetched from DB, as well as logo, use some libraries for 
web scraping as well as store relevant info in DB. (relevant api's, yahoo, barchart, google finance)
*logout view -> destroy session data, so that users can re-login.
-->