<h1>User Profile</h1>

<h2>{{sessionuser.name}}'s User Profile</h2>

<ul>
  <li><br>Username:</br><strong>{{sessionuser.name}}</strong></li>
  <h1>Watchlist Items</h1>
      <br>Tickers:{{stocks}}</br>
  <p>
<ul>
 <iframe src="http://edulifeline.com/includes/stocks_widget/?presets={{stocks}}" height="322px" width="250px" frameborder="0" scrolling="0"></iframe>



<h4>Add a watchlist Item</h4>
<form method="post" action="/user/tickeradd">
  Ticker: <input type="text" name="ticker"> <br>
    <br>
  <button>Add Ticker</button>
</form>
<p></p>
<p></p>
  

<!-- Comments
You will have to modify the post action perhaps.
Don't forget that these fields need to be added to user.js
What are we adding here? (Page will contain what?)
Properties to be displayed: 
Watchlist -> stocks to persist -> to be stored in DB
Name -> User Information
Password
Maybe the ability to change password.
Relevant Chart -> pulled from (https://www.tradingview.com/widget/) via iframe.
related stock data (this will come via external api's)


-->

