<h1>User Profile</h1>

<h2>{{sessionuser.name}}'s User Profile</h2>


<!-- Comments
What are we adding here? (Page will contain what?)
Properties to be displayed: 
Watchlist -> stocks to persist -> to be stored in DB
Name -> User Information
Relevant Chart -> pulled from (https://www.tradingview.com/widget/) via iframe.
related stock data (this will come via external api's)
Other items

-->

