<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		{{{body}}}

		<h4>User Views</h4>
    <ul>
      <li><a href="/user/login">login</a></li>
      <li><a href="/user/logout">logout</a></li>
      <li><a href="/user/online">online</a></li>
      <li><a href="/user/main">main</a></li>
    </ul>

		<h4>Admin Views</h4>
		<ul>
			<li><a href="/admin/list">list users</a></li>
		</ul>

	</body>
</html>