<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>{{message}}</div><br>

<form method="post" action="/user/auth">
  User Name: <input type="text" name="name"> <br>
  Password:  <input type="password" name="pass"> <br>
  <button>Login</button>
</form>