<h1>Team Portfolio</h1>

<h2>Team Members</h2>
<h2>Total: ({{members.length}})</h2>
<ul>
  {{#each members}}
  <li><strong>{{this.fname}} {{this.lname}}</strong> - {{this.year}}</li>
  {{/each}}
</ul>